@import "variables";


.btn {
  text-transform: uppercase;
}

$btn-font-weight: 500;
$btn-padding-y: 0.3rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1rem;
$btn-border-radius: 50rem;

//
// Button Sizes
//

$btn-padding-y-lg: 0.6rem;
$btn-padding-x-lg: 3.5rem;
$btn-font-size-lg: 1.2rem;
$btn-border-radius-lg: 50rem;

$btn-border-radius-sm: 0.5rem;

.btn-icon {
  background-color: #ffffff;
  border: 7px solid $gray-200;
  border-radius: 20%;
  padding: 30px 20px;
  color: $gray-200;
  transition: 0.3s ease;

  &.active {
    border-color: $blue;
    color: $turquoise;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  &:hover {
    border-color: $dark-blue;
  }

  .icon {
    font-size: 100px;
  }
}


@media (max-width: 992px) {
  .btn-icon {
    border-width: 3px;
    padding: 15px 7px;

    .icon {
      font-size: 50px;
    }
  }
}

