@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Black.woff") format("woff"), url("../fonts/DINPro-Black.ttf") format("ttf");
  font-weight: 900;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.ttf") format("ttf");
  font-weight: 300;
}

// Custom MIG font icons

@font-face {
  font-family: 'MigFont';
  src: url('../fonts/migfont.woff?83778495') format('woff'),
  url('../fonts/migfont.ttf?83778495') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//noinspection ALL
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 "MigFont";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aylal:before {
  content: '\e800';
}

.icon-genetiin-osol:before {
  content: '\e801';
}

.icon-giingoo:before {
  content: '\e802';
}

.icon-indigo:before {
  content: '\e803';
}

.icon-joloochiin-genetiin-osol:before {
  content: '\e804';
}

.icon-zeeldegchiin-ami-nas:before {
  content: '\e805';
}
