@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Black.woff") format("woff"), url("../fonts/DINPro-Black.ttf") format("ttf");
  font-weight: 900;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: DinPro;
  src: url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.ttf") format("ttf");
  font-weight: 300;
}
