@import "mvariables";

.btn-icon {
  background-color: #ffffff;
  border: 7px solid $gray-200;
  border-radius: 20%;
  padding: 30px 20px;
  color: $gray-200;

  &.active {
    border-color: $blue;
    color: $turquoise;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  .icon {
    font-size: 100px;
  }
}


@media (max-width: 992px) {
  .btn-icon {
    border-width: 3px;
    padding: 15px 7px;

    .icon {
      font-size: 50px;
    }
  }
}

