@import "mvariables";

.icon-primary {
  background-color: #ffffff;
  cursor: pointer;
  padding: 15px 5px;
  border-radius: 20%;
  border: 7px solid $gray-200;
  color: $gray-200;
  font-size: 100px;

  &.active {
    border: 7px solid $blue;
    color: $turquoise;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}

@media (max-width: 992px) {
  .icon-primary {
    font-size: 50px;
  }
}

