.mborder {
  border: $mborder-width solid $mborder-color;
}

.mborder__bottom {
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 70px;
    padding-top: 10px;
    border-bottom: $mborder-width solid $mborder-color;
  }
}

.mborder__bottom_gray {
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 70px;
    padding-top: 10px;
    border-bottom: $mborder-width solid $brown;
  }
}

.mborder__left {
  &:after {
    content: "";
    display: block;
    width: 70px;
    padding-top: 10px;
    border-bottom: $mborder-width solid $mborder-color;
  }
}
