// Color system
$blue: #005F7E;
$turquoise: #00839A;
$turquoise-2: #00A6B4;

$gray-100: #FCFCFC;
$dark-blue: #002855;
$dark-gray: #A69B95;
$light-gray: #D7D1CB;


$mborder-length: 70px;
$mborder-padding-top: 10px;
$mborder-width: 5px;
$mborder-color: $turquoise;
