// Header
// ************

// top-nav
.top-nav, .bottom-nav {
  .nav-link {
    font-size: 15px;
    text-transform: uppercase;
  }
}

.top-nav {
  background-color: #f8f9fa;
}

.bottom-nav {
  background-color: #ffffff;
}

.navbar-brand {
  img {

  }
}
