@import "mvariables";
// Header
// ************

// top-nav
.top-nav {
  padding: 0.8rem 3rem;
  text-transform: uppercase;
  background-color: #f8f9fa;

  .nav-link {
    font-size: 13px;
  }
}

.bottom-nav {
  text-transform: uppercase;
  font-size: 15px;
  background-color: #ffffff;
}

// End Header
// ************


// Swiper
.hero-swipier {
  width: 100%;
  height: 500px;

  img {
    width: 100%;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #ffffff;
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

// Content
.about-img {
  padding-bottom: 70px;
  position: relative;


  .back-image {
    position: absolute;
    width: $about-img-width;
    height: $about-img-height;
    bottom: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .front-image {
    width: $about-img-width;
    height: $about-img-height;
    margin-left: 15%;
    padding: 3%;
    background-color: #ffffff;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .swiper-container {
    height: 250px;
  }
}


body {
  margin-bottom: 10rem;
}


