@import "variables";
// Header
// ************

// top-nav
.top-nav {
  padding: 0.8rem 3rem;
  text-transform: uppercase;
  background-color: #f8f9fa;

  .nav-link {
    font-size: 13px;
  }
}

.bottom-nav {
  text-transform: uppercase;
  font-size: 15px;
  background-color: $white;
}

.card-date {
  margin-bottom: 7px;

  i {
    font-size: 14px;
    margin-right: 3px;
  }

  span {
    font-size: 14px;
    font-weight: 700;
  }
}

// End Header
// ************

// Banner
.banner {
  min-height: 580px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: $white;
  text-transform: uppercase;

  .sub-head {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .head {
    font-size: 3.5rem;
    font-weight: 900;
  }

  .buttons {
    margin-top: 20px;

    a {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }
}


// Swiper
$swiper-pagination-bullet-width: 12px;
$swiper-pagination-bullet-height: 12px;

.swiper-pagination-bullet {
  width: $swiper-pagination-bullet-width;
  height: $swiper-pagination-bullet-height;
}

.hero-swiper {
  width: 100%;
  height: 500px;

  img {
    width: 100%;
  }

  //noinspection ALL
  .swiper-button-prev, .swiper-button-next {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: $white;
  }

  .swiper-button-prev {
    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 25px;
      content: "\f053";
    }
  }

  .swiper-button-next {
    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 25px;
      content: "\f054";;
    }
  }

  .swiper-pagination-bullet {
    display: inline-block;
    border-radius: 100%;
    background: $white;
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.news-swiper, .feedback-swiper {
  padding: 20px;

  .swiper-wrapper {
    margin-bottom: 20px;
  }

  .swiper-pagination-bullets {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    opacity: 1;
    border: 1px solid $blue;
  }

  .swiper-pagination-bullet-active {
    background-color: $blue;
  }
}

// Content
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.parallax {
  width: 100%;
  min-height: 400px;
  background-color: $blue;
  color: $white;
  clip-path: polygon(0% 0, 100% 0%, 100% 95%, 52% 95%, 50% 100%, 48% 95%, 0% 95%);
}

$about-img-width: 450px;
$about-img-height: 284px;

.about-img {
  padding-bottom: 70px;
  position: relative;


  .back-image {
    position: absolute;
    width: $about-img-width;
    height: $about-img-height;
    bottom: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .front-image {
    width: $about-img-width;
    height: $about-img-height;
    margin-left: 15%;
    padding: 3%;
    background-color: #ffffff;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.about-us {
  display: flex;
  height: 476px;
  align-items: center;

  h1 {
    font-weight: 700;
  }

  .quote {
    font-size: 2.5rem;
  }

  .counter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .counter {
    text-transform: uppercase;
    text-align: center;
    padding: 0 2rem 2rem 2rem;

    i {
      font-size: 2.5rem;
    }

    h1 {
      font-size: 3rem;
    }

    h5 {
      font-weight: 400;
    }
  }
}

.feedback-swiper {
  padding-top: 40px;
}

.feedback-card {
  position: relative;
  z-index: 3;
  padding: 2rem;
  font-weight: 300;
  background-color: #EDEDED;
  color: $blue;
  border-radius: 7px;

  .autor-image {
    z-index: 5;
    left: 2rem;
    top: -40px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #EDEDED;
    box-shadow: 4px 0 3px #EDEDED;
  }
}

.subscribe {
  color: $white;
  background-color: $blue;
}

.subscribe-form {
  input {
    font-size: 15px;
    border-radius: 0;
    padding: 25px 50px;

    &:focus {
      border-color: $white;
      box-shadow: none;
    }
  }

  button {
    background-color: #A69B97;
    color: $white;
    border: 1px solid #A69B97;
    border-radius: 0;
  }
}

.sponsors {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  height: 232px;
  margin-top: 20px;

  .swiper-slide {
    display: flex;
    align-items: center;
  }

  .sponsor-swiper {
    img {
      width: 150px;
      height: auto;
      filter: grayscale(100%);
    }
  }
}

.footer {
  background-color: $blue;
  color: $white;
  padding: 1.5rem 0;
  font-size: 12px;

  .social-icons {
    i {
      margin: 10px;
      font-size: 20px;
    }
  }

  .footer-box {
    margin: 20px 0;

    i {
      margin-right: 5px;
    }

    address p {
      margin-top: -20px;
      padding-left: 20px;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: none;
        color: $turquoise-2;
      }
    }

    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
    }
  }
}

@media (max-width: 768px) {
  .hero-swiper {
    height: 250px;
  }

  .about-us {
    height: auto;

    .counter-container {
      margin-top: 20px;
    }

    .counter {
      padding: 10px;

      i, h1 {
        font-size: 1.5rem;
      }

      h5 {
        font-size: 1.3rem;
      }
    }
  }

  .about-img {
    .front-image, .back-image {
      width: 100%;
      height: 100%;
    }
  }

  .subscribe {
    h1 {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 15px;
    }
  }

}
