@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import "_mvariables";
@import "_mborders.scss";

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-sans-serif;

$secondary: $dark-blue;

// Navbar
$navbar-padding-y: 1rem;
$navbar-padding-x: 2rem;

.navbar-nav {
  .active {
    border-bottom: 3px solid $blue;
  }
}

.navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

// Mig Typography
.mhead {
  font-weight: 700;
  color: $blue;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: $mborder-length;
    padding-top: $mborder-padding-top;
    border-bottom: $mborder-width solid $mborder-color;
  }
}



@import "../../node_modules/bootstrap/scss/bootstrap";
