@import "fonts";
@import "variables";
@import "mborders.scss";
@import "mtypes";
@import "buttons";
@import "card";
@import "widgets";

.navbar-nav {
  .active {
    border-bottom: 3px solid $blue;
  }
}

.navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.nav-pills .nav-link {
  padding: 1.5rem;
  font-weight: 700;
  background-color: #e6e6e6;
}

// Tables
.table th {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

$theme-colors: (
  "white": $white,
  "brown": $brown,
);

.min-h-100 {
  min-height: 100px;
}

.bg-gray {
  background-color: #f5f5f5;
}

.triangle-bottom {
  clip-path: polygon(0% 0, 100% 0%, 100% 95%, 52% 95%, 50% 100%, 48% 95%, 0% 95%);
}


@import "../../node_modules/bootstrap/scss/bootstrap";
